<!DOCTYPE html>
<html>
<head>
  <title>User page</title>
</head>
<body>
  <div class="container">
    <div class="navbar" style="width: 100%;">
    <div class="card-body">
      <nav class="navbar rounded navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"><%= link_to "THE GOSSIP PROJECT", home_path, class: "navbar-brand" %></span>
    <%= link_to "Créer un gossip", new_gossip_path, class: "navbar-brand" %>
    <%= link_to "Contacter nous", contact_path, class: "navbar-brand" %>
    <%= link_to "Notre équipe", team_path, class: "navbar-brand" %>
    </nav>
  </div>
  </div>
  </div>
  <div class ="container">
    <div class="row justify-content-center">
      <div class="col-4 mb-3"> 
      <% background_cards = ["pastel-blue", "pastel-pink", "pastel-green", "pastel-yellow", "pastel-orange", "pastel-purple"] %>
        <div class="card <%= background_cards.sample %>" style="width: 18rem;">
        <%= image_tag("lvcyd.png", class: "card-img-top img-fluid", alt: "Add profile picture") %>
      <div class="card-body">
      <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
      <p class="card-text"><%= @user.description %></p>
      <p class="card-text"><%= @user.email %></br><%= @user.age %> ans </br><%= link_to @user.city.name, city_path %></p>
      
      </div>
    </div>
    </div>
    </div>
  </div>
</body>
