<!DOCTYPE html>
<html>
<head>
  <title>Welcome page</title>
</head>
<body>
  <div class="container">
    <div class="navbar" style="width: 100%;">
      <div class="card-body">
      <nav class="navbar rounded navbar-expand-lg navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h1"><%= link_to "THE GOSSIP PROJECT", home_path, class: "navbar-brand" %></span>
          <%= link_to "Créer un gossip", new_gossip_path, class: "navbar-brand" %>
          <%= link_to "Contacter nous", contact_path, class: "navbar-brand" %>
          <%= link_to "Notre équipe", team_path, class: "navbar-brand" %>
          <% if session[:user_id] %>
          <%= link_to "Se déconnecter", session_path(session.id), data: {turbo_method: :delete}, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to "S'inscrire", new_user_path, class: 'btn btn-light' %>
            <%= link_to "Se connecter", new_session_path, class: 'btn btn-light' %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
  </div>
  </div>
  <div class="container">
    <div class="container">
      <% if flash[:success] %>
        <div class ="alert alert-success">
          <%= flash[:success] %>
        </div>
      <% end %>
      <h2><%= @message %></h2>
      <p>Explorez notre site pour découvrir les derniers potins et des articles amusants. Profitez de votre visite !</p>
      <p>Voici les derniers potins :</p>
    </div>
    </div>
    <ul>
      <% if @gossips.present? %>
  <div class="container">
    <div class="row">
      <% background_cards = ["pastel-blue", "pastel-pink", "pastel-green", "pastel-yellow", "pastel-orange", "pastel-purple"] %>
      <% @gossips.each do |gossip| %>
        <div class="col-4 mb-3"> 
          <div class="card <%= background_cards.sample %>" style="width: 100%;">
            <div class="card-body">
              <div class="info_gossip">
              <h5 class="card-title"><%= gossip.user.first_name %></h5>
              <p> Com : <%= gossip.comments.count %></p>
              </div>
              <p class="card-text"><%= gossip.title %></p>
              <div class="info_gossip">
              <%= link_to "Voir", gossip_path(gossip) %>
              <p> Tag :<% gossip.tags.each do |tag| %>
              <%= tag.title %>
              <% end %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% else %>
    <li>Aucun potin à afficher</li>
  <% end %>
</ul>
</body>
