<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="navbar" style="width: 100%;">
        <div class="card-body">
          <nav class="navbar rounded navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1"><%= link_to "THE GOSSIP PROJECT", home_path, class: "navbar-brand" %></span>
              <%= link_to "Créer un gossip", new_gossip_path, class: "navbar-brand" %>
              <%= link_to "Contacter nous", contact_path, class: "navbar-brand" %>
              <%= link_to "Notre équipe", team_path, class: "navbar-brand" %>
              <% if session[:user_id] %>
                <%= link_to "Se déconnecter", session_path(session.id), data: {turbo_method: :delete}, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to "S'inscrire", new_user_path, class: 'btn btn-light' %>
                <%= link_to "Se connecter", new_session_path, class: 'btn btn-light' %>
              <% end %>
          </nav>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
